@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body{
  height:95vhvh ;
  
}

#conteneur {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1%;
  /* border: 1px solid black; */
  box-shadow: 0 0 0.2rem 0.2rem grey;
  
}
.entete{
  height: 15vh;
  background-color: rgb(81,191,208);
  position: relative;

}
.entete h1{
  text-align: center;
}
.gauche{
 display: flex;
 flex-direction: column;
 height: 100%;
 border: 1px solid black;
 width: 40%;
 background-color: white;
 margin-bottom: 0%;
}

.droite {
  /* border: 1px solid black; */
  height: 108%;
  width: 60%;
}


.liste {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.liste > div {
  display: flex;
  width: 100%;
 /*  border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  height: 25%;
}

.liste > div img {
  width: 1em;
  height: 1em;
}

.lisquestion{
  height: 20%;

}
/* .creer{

}
.lisJoueur{
  

}
.creerQuest{

} */
button{
  /* position: absolute; */
  right: 6%;
  top: 18%;
  padding: 1%;
  background-color: rgb(81,191,208);
}

.tof{
  background-color: rgb(81,191,208);
  
}
.tof img{
  border-radius: 100%;
  width: 30%;

}

.img{
  width: 3rem;
  height: 3rem;
 
}

#email{
  width: 75%;
}
.imgaccueil{
  width: 10rem;
  height: 8rem;
  border-radius: 12px;
}
.button_accueil{
  margin-left: 60rem;

  right: 6%;
  top: 18%;
  padding: 1%;
  background-color: rgb(81,191,208);
}

#connexion{
  cursor: pointer;
}